table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #ddd;
  }

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    align-items: center;
    
    min-height: 100vh;
    background: url(../imagenes/fondo.png) no-repeat center top;
    background-size:cover;
}

#myForm{
    background: #13c0c0;
}

table{
    background: #aca6a6;
}
